<!--<!DOCTYPE html>-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body th:fragment="content">
<main class="login-container">
    <div class="login-card">
        <h1>Welcome to PhotoPlaza Login Page</h1>

        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username/email or password.
        </div>

        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <form id="login-form" th:action="@{/authenticate}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div class="form-group">
                <label for="userNameOrEmail">Email</label>
                <input
                        class="form-control"
                        type="text"
                        id="userNameOrEmail"
                        name="userNameOrEmail"
                        required
                        placeholder="Enter your user name or email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control"
                       type="password"
                       id="password"
                       name="password"
                       required
                       placeholder="Enter your password">
            </div>
            <a th:href="@{/forget-password}" class="forgot-password">Forgot Password?</a>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>

        <p class="login-link">Don't have account? <a th:href="@{/register}">Create One</a></p>
    </div>
</main>
</body>
</html>

<!--        <form id="login-form" th:object="${loginDto}" th:action="@{/login}" method="post" role="form">-->
<!--            <div class="form-group">-->
<!--                <label for="userNameOrEmail">username/email</label>-->
<!--                <input -->
<!--                        th:field="*{userNameOrEmail}"-->
<!--                       class="form-control"-->
<!--                       type="text"-->
<!--                       id="userNameOrEmail"-->
<!--                       name="userNameOrEmail"-->
<!--                       required-->
<!--                       placeholder="Enter your user name or email">-->
<!--                <div th:if="${#fields.hasErrors('userNameOrEmail')}" class="alert alert-danger"-->
<!--                     th:errors="*{userNameOrEmail}">-->
<!--            </div>-->

<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="password">Password</label>-->
<!--                <input class="form-control"-->
<!--                       type="password"-->
<!--                       th:field="*{password}"-->
<!--                       id="password"-->
<!--                       name="password"-->
<!--                       required-->
<!--                       placeholder="Enter your password">-->
<!--                <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger"-->
<!--                     th:errors="*{password}">-->
<!--                </div>-->
<!--            </div>-->
<!--            <a th:href="@{/forget-password}" class="forgot-password">Forgot Password?</a>-->
<!--            <button type="submit" class="btn btn-primary">Log In</button>-->
<!--        </form>-->
