<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile_Details</title>
</head>
<body th:fragment="content">
<div class="container">
<h1> Update your Profile Details</h1>
<form     th:action="@{/user/profileDetails}"
          th:object="${profile}"
          method="post" role="form" enctype="multipart/form-data">
  <!-- Profile Picture/Logo -->
  <div class="form-group">
    <label>Upload Photo</label>
    <div id="imageUpload" class="image-upload">
      <div class="image-preview" id="imagePreview">
        <img id="previewImg" src="#" alt="Preview">
      </div>
      <p>Drag and drop your photo here or click to select</p>
      <input type="file" id="photoUpload"  name="image"  style="display: none;" required>
    </div>
  </div>
  <!-- Profile Picture/Logo -->
<!--  <div class="form-group">-->
<!--    <label>Upload Photo</label>-->
<!--    <input type="file" id="photoUpload"  name="image"  required>-->
<!--  </div>-->

  <!-- Bio/Description -->
  <div class="form-group">
    <label for="bio">Bio/Description</label>
    <textarea th:field="*{bio}" id="bio" name="bio" placeholder="Tell us about yourself or your business"></textarea>
  </div>

  <button type="submit" class="btn-update">Update</button>
</form>
</div>
</body>
</html>