<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sidebar</title>
    <script type="text/javascript" th:src="@{auth/logout.js}" defer></script>

</head>
<body>
<div id="sidebar" th:fragment="sidebar">
    <ul>
        <li>
            <span class="logo">PhotoPlaza</span>
            <button onclick=toggleSidebar() id="toggle-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z"/></svg>
            </button>
        </li>
        <li class="active">
            <a th:href="@{/admin/dashboard}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M520-640v-160q0-17 11.5-28.5T560-840h240q17 0 28.5 11.5T840-800v160q0 17-11.5 28.5T800-600H560q-17 0-28.5-11.5T520-640ZM120-480v-320q0-17 11.5-28.5T160-840h240q17 0 28.5 11.5T440-800v320q0 17-11.5 28.5T400-440H160q-17 0-28.5-11.5T120-480Zm400 320v-320q0-17 11.5-28.5T560-520h240q17 0 28.5 11.5T840-480v320q0 17-11.5 28.5T800-120H560q-17 0-28.5-11.5T520-160Zm-400 0v-160q0-17 11.5-28.5T160-360h240q17 0 28.5 11.5T440-320v160q0 17-11.5 28.5T400-120H160q-17 0-28.5-11.5T120-160Zm80-360h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <button onclick=toggleSubMenu(this) class="dropdown-btn">
                <i class='bx bx-collection' style='color:#ffffff'  ></i>
                <span>Product</span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z"/></svg>
            </button>
            <ul class="sub-menu">
                <div>
                    <li><a th:href="@{/admin/manageProduct}">Manage Product</a></li>
                    <li><a th:href="@{/admin/manageCategory}">Manager Category</a></li>
<!--                    <li><a th:href="@{/admin/manageOrder}">Manage Order</a></li>-->
                </div>
            </ul>
        </li>
        <li>
            <a th:href="@{/admin/customers}">
                <i class='bx bxs-user-detail' style='color:#ffffff' ></i>
                <span>Customers</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/analytics}">
                <i class='bx bx-line-chart'></i>
                <span>Analytics</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/notification}">
                <i class='bx bx-bell' style='color:#ffffff' ></i>
                <span>Notification</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/setting}">
                <i class='bx bx-cog' style='color:#ffffff' ></i>
                <span>Setting</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/logout-page}">
                <i class='bx bx-log-out' style='color:#ffffff'></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>