<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{page/navbar.css}">

</head>
<body th:fragment="navbar" >
<header class="navbar" >
  <div class="logos">PhotoPlaza</div>
  <nav>
    <ul class="nav-links">
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">BLOG</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </nav>
  <div class="search-login">
    <div class="search">
      <input type="text" class="search-bar" placeholder="Search for pictures...">
      <button class="btn">Search</button>
    </div>
    <a class="btn-join" th:href="@{/login}">JOIN</a>
<!--    <button class="btn-join"-->
<!--            th:href="@{/login}">JOIN-->
<!--    </button>-->
  </div>
</header>
</body>
</html>